
body { 
	background-color: #ffffff;
	margin: 0px;
	/* overflow: hidden; */
}

#start-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
}
